
table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;  /* Automatically set left margin */
  margin-right: auto; /* Automatically set right margin */
}
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color:pink;
  }
  
  button {
    color: black; /* Set the button text color to black */
    margin-left: 4px; /* Shift the button slightly to the right */
    border: none; /* Optional: remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .text{
    justify-content: center;
    text-align: center;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
 